* {
	padding:0;
	margin:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background:#FEFEFE;
}

h1 {
	font-family: 'Permanent Marker', cursive;
}

h2 {
	font-size: 30px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: bold;
}

h3 {
	font-size: 20px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: normal;
	text-align: justify;
}

/* MENÚ DESPLEGABLE */

.titulo {
	display:block;
	width:100%;
	position: fixed;
	top:0;
	background: black;
}

.titulo .bt-titulo {
	display: block;
	padding: 20px;
	color: white;
	overflow: hidden;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
}

.titulo i {
	float: right;
	font-size: 40px;
}

.menu_bar {
	display:none;
}

header {
	width: 100%;
	background: black;
	position: fixed;
	left: 0;
	top: 0;
}

header nav {
	background:#023859;
	z-index:1000;
	max-width: 1000px;
	width:95%;
	margin:20px auto;
	font-size: 20px;
}

header nav ul {
	list-style:none;
}

header nav ul li {
	display:inline-block;
	position: relative;
}

header nav ul li:hover {
	background:#E6344A;
}

header nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 20px;
}

header nav ul li a i {
	margin-right:10px;
}

header nav ul li:hover .children {
	display:block;
}

header nav ul li .children {
	display: none;
	background:#011826;
	position: absolute;
	width: 150%;
	z-index:1000;
}

header nav ul li .children li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}

header nav ul li .children li a {
	display: block;
}

header nav ul li .children li a i {
	float: right;
	position: relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

header nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}

.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/*VIDEO COMO FONDO*/

.video_fondo {
	background: black;
}

video {
	width: 80%;
	display: block;
	margin-top: 110px;
	margin-left: auto;
	margin-right: auto;
}

/*	ARTICULO */

.descripcion {
	width: 100%;
	max-width: 1000px;
	padding: 30px;
	margin: 0 auto;
	margin-top: 50px;
	background: rgba(238, 238, 238, 0.5);
	border: rgb(31, 31, 31) 5px outset;
	border-top-left-radius: 1cm;
	border-top-right-radius: 1cm;
}

.descripcion img {
	width: 125px;
	float: right;
	margin-left: 60px;
	margin-right: 20px;
}

/** TABLA	**/

.personajes {
	width: 100%;
	max-width: 1000px;
	padding: 30px;
	margin: 10px auto;
	background: rgba(238, 238, 238, 0.5);
	border: rgb(31, 31, 31) 5px outset;
}

.personajes table {
	border-collapse: collapse;
}

.personajes img {
	height: 150px;
}

.personajes caption {
	font-size: 30px;
	font-family: 'Permanent Marker', cursive;
	color: white;
	background: green;
	border-bottom: solid 5px greenyellow;
	padding: 14px;
}

.personajes thead {
	background: yellowgreen;
	padding: 20px;
	border-bottom: solid 4px rgb(255, 255, 233);
}

.personajes th {
	font-size: 20px;
	font-family: sans-serif;
}

.personajes td {
	padding: 20px;
}

.personajes tr:nth-child(even) {
	background: rgb(255, 255, 209);
}

#nombre {
	width: 30%;
}

.personajes tbody {
	background: rgb(255, 255, 80);
}

/**	PELICULAS **/

.pelis {
	width: 100%;
	max-width: 1000px;
	padding: 30px;
	margin: 10px auto;
	background: rgba(238, 238, 238, 0.5);
	border: rgb(31, 31, 31) 5px outset;
}

.cortos {
	width: 100%;
	max-width: 1000px;
	padding: 30px;
	margin: 10px auto;
	background: rgba(238, 238, 238, 0.5);
	border: rgb(31, 31, 31) 5px outset;
	border-bottom-left-radius: 1cm;
	border-bottom-right-radius: 1cm;
}

@media screen and (max-width: 800px) {
	body {
		padding-top:80px;
	}

	h2 {
		font-size: 20px;
	}

	h3 {
		font-size: 15px;
	}

	video {
		width: 100%;
		margin-top: 0;
	}

	.titulo {
		display: none;
	}

	.menu_bar {
		display:block;
		width:100%;
		position: fixed;
		top:0;
		background: black;
	}

	.menu_bar .bt-menu {
		display: block;
		padding: 20px;
		color: #fff;
		overflow: hidden;
		font-size: 25px;
		font-weight: bold;
		text-decoration: none;
	}

	.menu_bar i {
		float: right;
		font-size: 40px;
	}

	header {
		position: relative;
		left: auto;
		top: auto;

	}

	header nav {
		width: 80%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin: 0;
		overflow: scroll;
	}

	header nav ul li {
		display: block;
		border-bottom:1px solid rgba(255,255,255,.5);
	}

	header nav ul li a {
		display: block;
	}

	header nav ul li:hover .children {
		display: none;
	}

	header nav ul li .children {
		width: 100%;
		position: relative;
	}

	header nav ul li .children li a {
		margin-left:20px;
	}

	.descripcion {
		padding: 20px;
		margin: auto;
		margin-top: 15px;
		background: rgb(228, 228, 228);
		border: rgb(31, 31, 31) 4px outset;
		border-top-left-radius: 0.5cm;
		border-top-right-radius: 0.5cm;
	}
	
	.descripcion img {
		width: 100px;
		float: right;
		margin-left: 20px;
		margin-right: 5px;
	}
    
}